<tr>
    <td class="table-cell-left-bottom-check"><input type="checkbox" name="reservationsToDelete" value="{{_id}}"></td>
    <td class="table-cell-left-bottom"> {{fName}} </td>
    <td class="table-cell-left-bottom"> {{lName}} </td>
    <td class="table-cell-left-bottom"> {{username}} </td>
    <td class="table-cell-left-bottom"> {{labNum}} </td>
    <td class="table-cell-center-bottom"> {{seatNum}} </td>
    <td class="table-cell-center-bottom"> {{timeIn}} </td>
    <td class="table-cell-center-bottom"> {{timeOut}} </td>
</tr>