<tr>
    <td class="table-cell-left-bottom"> {{date}} </td>
    <td class="table-cell-left-bottom"> {{labNum}} </td>
    <td class="table-cell-center-bottom"> {{seatNum}} </td>
    <td class="table-cell-center-bottom"> {{timeIn}} </td>
    <td class="table-cell-center-bottom"> {{timeOut}} </td>
</tr>